<div class="outer">
  <div class="container">
    <header>
      <h1>BOOKS</h1>
      <div class="nav">
        <a href="/products" id="home">HOME</a>
        <a href="/create" id="create">CREATE</a>
      </div>
    </header>
  </div>
</div>
